@tailwind base;
@tailwind components;
@tailwind utilities;
/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  /* Container styles */
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Input styles */
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Button styles */
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Message styles */
  p {
    text-align: center;
    color: green;
  }
  
  .error-message {
    color: red;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
  